*{
    margin: 20px;
}
.body{
    display: flex;
    /*justify-content: center;
    flex-wrap: wrap;*/
    flex-direction: column;
}
#box1{
    background-image: url('0451-08-website-background-image-levehytter.jpg');
    color: white;
    
}
#box3{
    order: 2;
}
